@using MVC.models
@model List<ItemPedido>


<h3>Itens do seu Carrinho</h3>
<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Valor</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    @foreach (ItemPedido item in Model)
    {
      <tr>
        <td>@item.descricao</td>
        <td>@item.valor_unitario</td>
        <td>@item.quantidade</td>
      </tr>
    }
  </tbody>
</table>
<br>

<p class="Total-pedido">O total do seu pedido é  R$@Dados.PedidoAtual.TotalDoPedido()</p>
<a class="inserir" href="/Home/Pedido">Inserir Novo Produto</a>

