@model List<ItemPedido>


<h3>Itens do seu Carrinho</h3>
<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Valor</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    @foreach (ItemPedido item in Model)
    {
      <tr>
        <td>@item.descricao</td>
        <td>@item.valor_unitario</td>
        <td>@item.quantidade</td>
      </tr>
    }
  </tbody>
</table>
<a href="/Pedido">Inserir Novo Produto</a>