@model ItemPedido

<div class="FormPedido">

<form>
  <p>
    <label>Qual Produto você deseja -></label>
    <input asp-for="descricao">
  </p>
  <p>
    <label>Quantos você deseja -></label>
    <input asp-for="quantidade">
  </p>
  <p>
    <label>Qual o valor do Produto -></label>
    <input asp-for="valor_unitario">
  </p>
  <input type="submit" value="Concluir o Pedido">
</form>
</div>